# Environnement virtuel
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Variables d'environnement
.env
.env.local
.env.*.local

# Tests
.pytest_cache/
.coverage
htmlcov/

# IDE
.vscode/
.idea/
*.swp

# Logs
*.log

# Base de données (si tu en ajoutes)
*.db
*.sqlite
*.sqlite3
