fastapi
email-validator
uvicorn[standard]
python-dotenv
anthropic
httpx

# DATABASE
sqlalchemy
psycopg2-binary

passlib[bcrypt]==1.7.4
python-jose[cryptography]
bcrypt==3.2.2
python-multipart
slowapi
