# Environnements Python
**/.venv/
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd

# Variables d'environnement (SECRETS)
**/.env
.env
*.env

# Fichiers système
.DS_Store
Thumbs.db
*.swp
*.swo
*~

# IDE
.vscode/
.idea/
*.code-workspace

# Logs
*.log
logs/

# Docker
**/.dockerignore

# Node modules (si tu utilises npm plus tard)
**/node_modules/

# Builds
**/dist/
**/build/
